<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <!-- import CSS -->
      <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
      <link rel="stylesheet" type="text/css" href="/static/css/Assessor.css"> 
  </head>
  <body>
    <p class="title">ASSESSOR MARKING SYSTEM</p>
    <div id="app" class="center">
        <el-table
        :data="tableData"
        class="center"
        >
        <el-table-column
            prop="uid"
            label="Student ID"
            width="180">
        </el-table-column>
        <el-table-column
            prop="detail"
            label="operation"
            width="180">
            <template slot-scope="scope">
                <el-button @click="handleClick(scope.row)" type="text" size="medium">detail</el-button>
            </template>
        </el-table-column>
        </el-table>
    </div>
  </body>
</html>
<!-- import Vue before Element -->
<script src="/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
        return { 
            tableData: [],
            uid:'',
        }
    },
    created() { 
        this.getAllStudents();
    },
    methods: {
        handleClick(row) {
            this.uid=row.uid;
            console.log(row),
            window.location.href = `{% url 'detail'%}`;
            this.search();
        },
        getAllStudents() {
          var that = this;
          axios.get('/studentlist/')
            .then(function (res) {
                that.tableData = res.data
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        search() {
          var param = this.uid;
          localStorage.setItem("searchuid", param);
      },
}
  })
</script>
