<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <!-- import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <link rel="stylesheet" type="text/css" href="/static/css/prescription.css"> 
    </head>
    <body>
        <p>Edit precription</p>
        <span class="center">Patient information</span>
        <div id="app">
            <el-form ref="form" :model="form" label-width="230px">
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="FirstName: ">
                            <span>{[patient.firstname]}</span>
                          </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="LastName: ">
                            <span>{[patient.lastname]}</span>
                          </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Pid: ">
                            <span>{[patient.id]}</span>
                          </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-form-item label="Date of Birth: ">
                            <span>{[patient.dob]}</span>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Weight: ">
                            <span>{[patient.weight]}</span>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Allergy: ">
                            <span>{[patient.allergen1]}</span>
                          </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8" style="margin-left:5%">
                        <el-form-item label="Description of Allergy: ">
                            <span>{[patient.allergy1]}</span>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-divider></el-divider>
            <p>Student ID: {[student.id]}<p>
            <div style="margin: 50px; margin-right: 250px;">
                <el-table
                :data="tableData"
                height>
                    <el-table-column
                    prop="medEdited"
                    label="Medicine Name"
                    width="300">
                    </el-table-column>
                    <el-table-column
                    prop="doseDes"
                    label="dose"
                    width="300">
                    </el-table-column>
                    <el-table-column
                    prop="formDes"
                    label="Form"
                    width="200">
                    </el-table-column>
                    <el-table-column
                    prop="freDes"
                    label="Frequency"
                    width="200">
                    </el-table-column>
                    <el-table-column
                    prop="routeDes"
                    label="Route"
                    width="200">
                    </el-table-column>
                </el-table>
            </div>
            <el-divider></el-divider>
            <p>Feedback<p>
            <div class="feedback">
                <el-form ref="form" :model="form" label-width="120px">
                    <el-form-item label="Mark: ">
                        <el-select v-model="form.mark" placeholder="Please select a mark">
                        <el-option label="HD" value="hd"></el-option>
                        <el-option label="D" value="d"></el-option>
                        <el-option label="C" value="c"></el-option>
                        <el-option label="P" value="p"></el-option>
                        <el-option label="F" value="f"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Comments: ">
                        <el-input type="textarea" v-model="form.comment"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">Send</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </body>
</html>
<!-- import Vue before Element -->
<script src="/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
new Vue({
    el: '#app',
    delimiters:['{[', ']}'],
    data: function() {
        return { 
            tableData: [{
                medicineName:'DIMETHICONE',
                dose:'1mg',
                form:'20%',
                frequency:'1g/d',
                route:'Cream',
            }, {
                medicineName:'DIMETHICONE',
                dose:'1mg',
                form:'20%',
                frequency:'1g/d',
                route:'Cream',
            }],
            form: {
                mark:'',
                comment:'',
            },
            patient:'',
        }
    },
    created() { 
        this.getPreid();
    },
    mounted() {
        this.getMessage();  
    },
    method: {
        onSubmit() {
        console.log('submit!');
      },
      getPreid() {
            var that = this;
            axios.get(`http://127.0.0.1:8000/patientlist/${this.param}` , {
            params: {
                id: this.param
                }
        })
            .then(function (res) {
                that.id = res.data.id
            })
            .catch(function (error) {
            console.log(error);
            });
        },
        getMessage() {
            var that = this;
            axios.get(`http://127.0.0.1:8000/patientlist/${this.param}` , {
            params: {
                id: this.param
                }
        })
            .then(function (res) {
                that.tableData = res.data;
                that.patient =res.data;
            })
            .catch(function (error) {
            console.log(error);
            });
        },
    }
})
</script>
