<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <!-- import CSS -->
      <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
      <link rel="stylesheet" type="text/css" href="/static/css/login.css"> 
  </head>
  <body>
    <p class="title">STUDENT E-PRESCRIPTION SYSTEM</p>
    <div id="app" class="center">
      <el-form ref="form" 
        :model="form" 
        label-width="100px" 
        size="medium">
          <el-form-item label="uid: ">
              <el-input v-model="form.uid" @change="changed"></el-input>
          </el-form-item>
          <el-form-item label="Password: ">
              <el-input v-model="form.password" ></el-input>
          </el-form-item>
          <p style="font-size: 20px; margin-left: 100px; color: red" v-if="wrongTips===true">wrong password</p>
          <el-form-item>
            <p style="font-size: 20px;">If you have any problem, please contact info@drmed.com.au</p>
          </el-form-item>
          <el-form-item style="margin-left:100px">
            <el-button type="primary" @click="onSubmit">Log in</el-button>
        </el-form-item>      
      </el-form>
    </div>
  
    
  </body>
</html>
<!-- import Vue before Element -->
<script src="/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return { 
        form:{
          uid:'',
          password:'',
        },
        studentid:0,
        checked:false, 
        wrong:false,
        wrongTips:false, 
        comfirmPassword:'',        
      }
    },

    watch:{

    },
    methods: {
      onSubmit() {
        this.studentPost();
        this.change();
      },

      change() {
        if(this.form.password===this.comfirmPassword&&!(this.form.password == "" || this.form.password == null || this.form.password == undefined)){
          window.location.href="{% url 'patientSelect'%}"
        }else {
          this.wrongTips=true;
        }
      },

      changed() {
        this.studentPost();
      },

      search() {
          var param = this.studentid;
          localStorage.setItem("searchUid", JSON.stringify(param));
      },
      studentPost() {
        var that = this;
        axios.get(`/studentlist/${this.form.uid}`)
          .then(function (res) {
           localStorage.setItem("searchUid", JSON.stringify(res.data.id));
           that.comfirmPassword = res.data.password;
          })
          .catch(function (error) {
          console.log(error);
          });
      },

    }
  })
</script>
