<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <!-- import CSS -->
      <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
      <link rel="stylesheet" type="text/css" href="login.css"> 
  </head>
  <body>
    <p class="title">STUDENT E-PRESCRIPTION SYSTEM</p>
    <div id="app" class="center">
      <el-form ref="form" 
        :model="form" 
        label-width="100px" 
        size="medium">
          <el-form-item label="Email: ">
              <el-input v-model="form.email"></el-input>
          </el-form-item>
          <el-form-item label="Password: ">
              <el-input v-model="form.password"></el-input>
          </el-form-item>
          <el-form-item>
            <p style="font-size: 20px;">If you have any problem, please contact xxxxx@xxx.com</p>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">Log in</el-button>
        </el-form-item>
      </el-form>
    </div>
  </body>
</html>
<!-- import Vue before Element -->
<script src="vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return { 
        form:{
          email:'',
          password:'',
        }          
      }
    },
    watch:{
    },
    methods: {
      onSubmit() {
        this.studentPost();
      },

      studentPost() {
        axios.post('/user', {
          uid: this.form.email,
          })
          .then(function (response) {
          console.log(response);
          })
          .catch(function (error) {
          console.log(error);
          });
      },



}
  })
</script>
