<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/patientSelect.css"> 
  </head>
  <body> 
    <p>​Select a patient</p> 
    <div id="app"> 
      <el-row>
        <el-col :span="12">
          <div style="margin-top:60px;margin-left:150px"> 
            <el-select v-model="value" slot="prepend" placeholder="Select" @change="select">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
            <el-autocomplete
              v-model="input"
              :fetch-suggestions="querySearch" 
              @select="handleSelect">  
            </el-autocomplete>
            <a href="{% url 'patientConfirm'%}"><el-button slot="append" icon="el-icon-search" @click="onSubmit"></el-button></a>
          </div>
        </el-col>
        <el-col :span="12">
          <el-form ref="form" label-width="180px">
            <el-form-item label="FirstName: ">
                <span>{[patient.firstname]}</span>
              </el-form-item>
              <el-form-item label="LastName: ">
                <span>{[patient.lastname]}</span>
              </el-form-item>
              <el-form-item label="Pid: ">
                <span>{[patient.id]}</span>
              </el-form-item>
              <el-form-item label="Date of Birth: ">
                <span>{[patient.dob]}</span>
              </el-form-item>
              <el-form-item label="Weight: ">
                <span>{[patient.weight]}</span>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </div>
  </body>
</html>
  <!-- import Vue before Element -->
  <script src="/static/js/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      delimiters:['{[', ']}'],
      data: function(){
        return {
            options: [{
                value: 'choose1',
                label: 'Pid'
                }],
            value: '',
            input: '',
            form: {},
            patients: {},
            patientsid: {},
            patientsfn: {},
            patientsln: {},
            alreadyChoose: {},
            all:{},
            uid:0,
            patient: {},
            param:0,

        }
      },
      mounted() {
         this.getAllPtient();
      },
      watch: {
        input() {
          this.getOnePtient();
          this.getAllPtient();
          console.log(this.patient)
        }
      },
     
      methods: {
        handleSelect(item) {
          this.getOnePtient();
        },
        getAllPtient() {
          var that = this;
          axios.get('/patientlist/')
            .then(function (res) {
                that.patients = res.data
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        getOnePtient() {
          var that = this;
          axios.get(`/patientlist/${Number(this.input)}`, {
             params: {
               id:Number(this.input)
                }
          })
            .then(function (res) {
                that.patient = res.data
            })
            .catch(function (error) {
              console.log(error);
            });
        },

        querySearch(queryString, cb) {
          if(this.value==="choose1"){
            var patients = this.patientsid;
          }else if(this.value==="choose3"){
            var patients = this.patientsfn;
          }else if(this.value==="choose2"){
            var patients = this.patientsln;
          }
          var results = queryString ? patients.filter(this.createFilter(queryString)) : patients;
          cb(results);  
        },
        createFilter(queryString) {
          return (patient) => {
              return (patient.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
            }
        },

       
        onSubmit(){ 
          this.search()
        },
        select(){
          this.all = this.patients
          if(this.value==="choose1"){
            this.patientsid = this.all.map(item => ({'value':String(item.id)}));
            console.log(this.uid)

          }else if (this.value==="choose3"){
            this.patientsfn = this.all.map(item => ({value:item.firstname}));

          }else if (this.value==="choose2"){
            this.patientsln = this.all.map(item => ({value:item.lastname}));
          };


        },
        search() {
          this.param=Number(this.input);
          localStorage.setItem("searchParam", JSON.stringify(this.param));
        },

        activated() {
          var param = localStorage.getItem("searchUid");
          this.uid = Number(param);
        },

        loadAll() {
          return this.patients
        }

      }
    })
  </script>
